:root {
    --font: arial, sans-serif, sans;
    --spacing: 0.08em;
    --font-size: 11px;
    --font-size-large: 15px;

    --font-weight: 700;
    --light: #999;
    --normal: #222;
    --selected: #967810;
}

.title {
    font-size: var(--font-size-large);
    color: var(--light);
    text-transform: uppercase;

    font-family: var(--font);
    font-weight: var(--font-weight);
    letter-spacing: var(--spacing);
}

.sidebar {
    width: 252px;
    float: left;
    min-height: 1px;
    padding-top: 60px;
}

.list {
    padding-top: 18px;
}

.item {
    display: block;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.item > a {
    font-size: var(--font-size);
    color: var(--normal);
    text-transform: uppercase;

    cursor: pointer;
    text-decoration: none;

    font-family: var(--font);
    font-weight: var(--font-weight);
    letter-spacing: var(--spacing);
}

.item > a:hover {
    color: var(--selected);
}

.active > a {
    color: var(--selected);
}