.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 30px;
  border-bottom: 1px solid #eee;
}

.logo {
  display: inline-block;
  padding-right: 50px;
}

.logo > a {
  font-family: 'Arial Narrow',Arial,sans-serif;
  color: #777;
  font-weight: 700;
  
  font-size: 38px;
  cursor: pointer;
  text-decoration: none;  
}

.logo > a:hover {
  color: #967810;
}

.menu {
  float: right;
  padding-top: 14px;
}

.menu i {
  font-size: 20px;
}

.menu > a {
  color: #777;
  margin-right: 20px;
}

.menu > a:hover {
  color: #967810;
}


