:root {
  --logo-color: #777;
  --padding: 50px;
  --width: 1390px;
}

.shell {
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #fff;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-left: var(--padding);
  padding-right: var(--padding);
  max-width: var(--width);
  margin: auto;
}

.logo {
  display: inline-block;
  padding-right: 50px;
}

.logo > a {
  font-family: 'Arial Narrow',arial,sans-serif;
  color: var(--logo-color);
  font-weight: 700;
  
  font-size: 38px;
  cursor: pointer;
  text-decoration: none;  
}

.logo > a:hover {
  color: #967810;
}

.menu {
  float: right;
  padding-top: 14px;
}

.menu i {
  font-size: 17px;
}

.menu > a {
  color: #333;
  margin-right: 20px;
}

.menu > a:hover {
  color: #967810;
}


