:root {
    --font: arial, sans-serif, sans;
    --spacing: 0.08em;
    --font-size: 14px;
    --font-weight: 700;

    --normal: #222;
    --selected: #967810;
}

.navigation {
    display: inline-block;
}

.list {
    padding-top: 18px;
}

.item {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 40px;
}

.item > a { 
    font-size: var(--font-size);
    color: var(--normal);
    text-transform: uppercase;

    cursor: pointer;
    text-decoration: none;  

    font-family: var(--font);
    font-weight: var(--font-weight);
    letter-spacing: var(--spacing);
}

.item > a:hover {
    color: var(--selected);
}